/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
 .add-more-button {
    background-color: #41285F;
    color: white;
    padding: 15px;
}
.cross-button {
    color: red;
    border: 1px solid red;
    font-size: 25px;
    border-radius: 20px;
    font-weight: bold;
}
.section-heading {
    background-color: #6B3E9F;
    color: white;
    text-align: center;
}